* {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

:root {
  --background: #7a757b;

  --primary: #dcb8ff;

  --secondary: #ffb3b2;

  --tertiary: #b8c8da;

  --headline-font: Syne;
  --body-font: Hanken Grotesk;
  --label-font: Jetbrains Mono;
}

body {
  background-color: var(--background);
  color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
