.show-card-row {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.show-card-row::-webkit-scrollbar {
    height: 1rem;
}

.show-card-row.show-card-row::-webkit-scrollbar-thumb {
    background-color: var(--primary-20);
    border-radius: 2rem;
    margin-top: 1rem;
}
