.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 6rem;
}

.header-bar {
    background-color: var(--primary-background);
    display: flex;
    margin-bottom: 2rem;
}

.header-bar .logo {
    display: flex;
}

.page-navigator {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--body-font);
}

.user-icon {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    align-items: center;
    font-family: var(--body-font);
}

.footer {
    display: flex;
    font-family: var(--label-font);
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
